pandas~=2.0.1
geopandas~=0.13.2
plotly~=5.14.1
seaborn~=0.12.2
matplotlib~=3.7.1
scikit-learn~=1.2.2
geojson~=3.0.1
shap~=0.42.1
pyod~=1.1.2
kaleido~=0.1.0
tensorflow~=2.14.0
ipykernel~=6.23.1
jupyter==1.0.0
evidently~=0.4.17